* {
  font-family: 'Oxygen', sans-serif;
  color: #444;
  outline: none;
}

body {
  margin: 0;
  width: 100%;
}

.content-wrapper {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.debug {
  border: 3px solid red;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main-title {
  padding-top: 100px;
  display: block;
  width: 80%;
}

#nav-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 32px;
  min-height: 30px;
  min-width: 30px;
  display: block;
  z-index: 5;
  -webkit-transition: 1s;
  transition: 1s;
  color: gold;
  background-image: url("../img/banana.png");
  background-size: cover;
}

#nav-toggle #img {
  width: 30px;
  height: 30px;
  display: block;
}

/*          navbar               */
#navbar {
  background-color: #404040;
  color: white;
  min-height: 100vh;
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  overflow: hidden;
}

#navbar .nav-hr-line {
  border-bottom: 1px solid grey;
  width: 100%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
}

#navbar #branding {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 30px;
  background-color: #1a1a1a;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#navbar #logo {
  height: 30px;
  width: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

#navbar a {
  font-size: 18px;
  display: inline-block;
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  color: white;
  font-weight: bold;
}

.nav-links-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 30px;
  margin: auto;
}

.nav-links-container .nav-link {
  padding: 5px;
}

/*              banner            */
.banner {
  display: inline-block;
  text-align: center;
  max-height: 300px;
  background-image: url("../img/bannerbg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #1a1a1a;
  font-size: 18px;
  min-height: 250px;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.projects-container {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-container .project-card {
  width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 350px;
  overflow: hidden;
  padding: 30px;
  margin: 20px;
  -webkit-box-shadow: 7px 4px 55px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 4px 55px 5px rgba(0, 0, 0, 0.2);
}

.projects-container .project-card img {
  height: 200px;
  min-width: 150px;
  width: 90%;
  margin: auto;
}

.projects-container .project-card .project-property {
  font-size: 18px;
  max-width: 100%;
}

.filter-container {
  width: 80%;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #444;
  margin: auto;
  min-width: 400px;
}

.filter-container .filter-title {
  font-size: 24px;
  padding-bottom: 10px;
}

.filter-container .filterBtn {
  display: inline-block;
}

#logout, #me {
  display: none;
}

/*               signup/signin                */
.signup-container {
  border: 1px solid black;
  width: 60%;
  margin: auto;
}

form {
  width: 70%;
  display: block;
  position: relative;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
}

.signup-input {
  display: block;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  margin: auto;
  border: none;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.4) inset;
}

#submit-btn {
  border: none;
  padding: 5px 20px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0);
}

/*                            me page                  */
.me-card {
  width: 80%;
  margin: auto;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 30px;
  -webkit-box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
}

.me-card .me-left-img {
  width: 49%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 250px;
  vertical-align: bottom;
  padding: 20px;
}

.me-card .me-left-img .me-img {
  width: 100%;
}

.me-card .me-right-txt {
  display: inline-block;
  width: 49%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: bottom;
  text-align: left;
  padding: 20px;
}

.me-card .me-right-txt .me-property {
  padding: 5px;
}

@media (max-width: 1000px) {
  .me-card {
    width: 80%;
    margin: auto;
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    padding: 30px;
    -webkit-box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
  }
  .me-card .me-left-img {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
  }
  .me-card .me-left-img .me-img {
    width: 100%;
  }
  .me-card .me-right-txt {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
    padding: 20px;
  }
  .me-card .me-right-txt .me-name {
    text-transform: capitalize;
  }
}

.namebtn-option {
  text-transform: capitalize;
}

.me-name {
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
}

.gorilla-card {
  width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 350px;
  overflow: hidden;
  padding: 30px;
  margin: 20px;
  -webkit-box-shadow: 7px 4px 55px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 4px 55px 5px rgba(0, 0, 0, 0.2);
}

.gorilla-card .gorilla-img {
  height: 200px;
  width: 90%;
  margin: auto;
}

.gorilla-card .gorillas-properties {
  text-align: left;
}

.gorilla-card .gorillas-properties .project-property {
  font-size: 18px;
  max-width: 100%;
}

.gorilla-properties, .project-properties {
  text-align: left;
  padding-top: 10px;
}

.gorilla-name {
  text-transform: capitalize;
}

.addproject-form .addproject-title {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.addproject-form label {
  display: inline-block;
  width: 200px;
  text-align: left;
}

.addproject-form input {
  display: inline-block;
  margin: 5px;
}

.project-card {
  width: 80%;
  margin: auto;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 30px;
  -webkit-box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
}

.project-card .project-left-img {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.project-card .project-left-img .project-img {
  width: 100%;
}

.project-card .project-right-txt {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  padding: 20px;
}

.project-card .project-right-txt .project-name {
  text-transform: capitalize;
}
/*# sourceMappingURL=styles.css.map */