// font-family: 'Oxygen', sans-serif;
* {
    font-family: 'Oxygen', sans-serif;
    color: #444;
    outline: none;
}

body {
    margin: 0;
    width: 100%;
}

.content-wrapper {
    width: 100%;
    position: relative;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.debug {
    border: 3px solid red;
}

.container {
    display: flex;
    position: relative;
}

#nav-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 32px;
    z-index: 5;
    transition: 1s;
    color: gold;
}

/*          navbar               */
#navbar {
    background-color: #404040;
    color: white;
    min-height: 100vh;
    display: block;
    transition: 1s;
    flex: 1;
    position: relative;
    overflow: hidden;
    // max-width: 200px;

    .nav-hr-line {
        border-bottom: 1px solid grey;
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        padding-top: 10px;
    }

    #branding {
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        padding: 30px;
        background-color: #1a1a1a;
        overflow: hidden;
        transition: 1s;
    }

    #logo {
        height: 30px;
        width: 30px;
        transition: 1s;
    }

    a {
        font-size: 18px;
        display: inline-block;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        margin: auto;
        color: white;
        font-weight: bold;
    }
}

.nav-links-container {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    margin: auto;

    .nav-link {
        padding: 5px;
    }
}

/*              banner            */
.banner {
    display: inline-block;
    text-align: center;
    max-height: 300px;
    background-image: url("../img/bannerbg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #1a1a1a;
    font-size: 18px;
    min-height: 250px;

    h3 {
        padding: 30px;
        font-size: 32px;
        font-weight: bold;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 4;

}

.projects-container {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    align-items: start;
    text-align: center;
    justify-content: center;

    .project-card {
        width: 250px;
        flex: 1;
        text-align: left;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        height: 350px;
        overflow: hidden;
        // background-color: teal;
        padding: 30px;
        margin: 20px;
        -webkit-box-shadow: 7px 4px 55px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 7px 4px 55px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 7px 4px 55px 5px rgba(0, 0, 0, 0.2);

        img {
            height: 200px;
            min-width: 150px;
            width: 90%;
            margin: auto;
        }

        .project-property {
            font-size: 18px;
            max-width: 100%;
            // padding: 5px 0;
        }
    }
}

.filter-container {
    width: 80%;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #444;
    margin: auto;
    min-width: 400px;

    .filter-title {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .filterBtn {
        display: inline-block;
    }
}

#logout, #me {
    display: none;
}











/*               signup/signin                */
.signup-container {
    border: 1px solid black;
    width: 60%; 
    margin: auto;
}
form {
    // min-width: 400px;
    width: 70%;
    display: block;
    position: relative;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
}


.signup-input {
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    margin: auto;
    border: none;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.4) inset;
}

#submit-btn {
    border: none;
    padding: 5px 20px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: rgba(0,0,0,0);
}

/*                            me page                  */
.me-card{
    width: 80%;
    margin:auto;
    flex: 4;
    padding: 30px;
    -webkit-box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);

    .me-left-img {
        width: 49%;
        display: inline-block;
        box-sizing: border-box;
        min-height: 250px;
        vertical-align: bottom;
        padding: 20px;

        .me-img {
            width: 100%;
        }
    }

    .me-right-txt {
        display: inline-block;
        width: 49%;
        box-sizing: border-box;
        vertical-align: bottom;
        text-align: left;
        padding: 20px;

        .me-property {
            padding: 5px;
        }
    }
}



@media(max-width: 1000px) {
    .me-card{
        width: 80%;
        margin:auto;
        flex: 4;
        padding: 30px;
        -webkit-box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
        box-shadow: 7px 4px 75px 5px rgba(0, 0, 0, 0.4);
    
        .me-left-img {
            width: 100%;
            display: block;
            box-sizing: border-box;
            padding: 20px;
    
            .me-img {
                width: 100%;
            }
        }
    
        .me-right-txt {
            display: block;
            width: 100%;
            box-sizing: border-box;
            text-align: left;
            padding: 20px;
            
            .me-name {
                text-transform: capitalize;
            }
        }
    }
}

.namebtn-option{
    text-transform: capitalize;
}

.gorilla-card {
    width: 250px;
    flex: 1;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 350px;
    overflow: hidden;
    // background-color: teal;
    padding: 30px;
    margin: 20px;
    -webkit-box-shadow: 7px 4px 55px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 7px 4px 55px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 7px 4px 55px 5px rgba(0, 0, 0, 0.2);

    .gorilla-img {
        height: 200px;
        width: 90%;
        margin: auto;
    }

    .gorillas-properties{
        text-align: left;
    
        .project-property {
            font-size: 18px;
            max-width: 100%;
            // padding: 5px 0;
        }
    }
}

.gorilla-properties, .project-properties {
    text-align: left;
    padding-top: 10px;
}

.gorilla-name {
    text-transform: capitalize;
}