<form id="signup-form" ng-submit="getUserInfo()">
    <input class="signup-input" name="firstname" type="text" placeholder="first name" ng-model="firstname"><br>
    <input class="signup-input" name="lastname" type="text" placeholder="last name" ng-model="lastname"><br>
    <input class="signup-input" name="e-mail" type="email" placeholder="e-mail" ng-model="email"><br>
    <input class="signup-input" name="password" type="password" placeholder="password" ng-model="password"><br>
    <input class="signup-input" name="pwconfirm" type="password" placeholder="confirm password" ng-model="pwconfirm"><br>
    <button id="submit-btn" type="submit">Submit</button>
</form>