<div class="me-card">
    <div class="me-left-img me-left-small">
            <img class="me-img" src="\public\img\profile.png" alt="">
    </div>
    <div class="me-right-txt me-right-small">
            <div class="me-property"><span class="me-name">{{projectName}} </span><span class="me-name">{{userlastname}}</span></div>
            <div class="me-property"><i>Github:</i> <br>{{projectGithub}}</div>
            <div class="me-property"><i>Website:</i> <br>{{projectSite}}</div>
            <div class="me-property"><i>Languages used:</i> <br>{{projectLanguages}}</span></div>
        <div class="me-property"><i>Time spended:</i> <br>{{projectTime}}</div>
    </div>     
</div>

